table {
    width: 680px;
    text-align: center;
    margin: auto;
}
.tablebox {
    box-sizing: border-box;
    border: 1px solid #ff9946;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    padding: 10px;
}
.th {
    background: #4c4240;
    color:beige;
}
tr {
    height: 40px;
}
.content_td {
    background-color: white;
    border: 1px solid #4c4240;
    text-align: left;
    height: 150px;
    padding: 10px;
}
.info_td {
    border: 1px solid #4c4240;
    text-align: left;
    padding: 10px;
}
.td-linked {
    cursor: pointer;
}
.headrow {
    background: #4c4240;
    color:beige;
}

.searchbox {
    box-sizing: border-box;
    text-align: right;
    width: 700px;
    padding: 5px;
    margin: auto;
    margin-top: -20px;
}
.pagebox {
    box-sizing: border-box;
    text-align: center;
    width: 700px;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
}
.buttonbox {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 700px;
    padding-top: 10px;
    margin: auto;
}

.rej_reason {
    text-align: right;
    font-size: 14px;
    
}
#board-area-flexible {
    height: none;
}