
.mypg {
    padding: 15px 0px;
    font-size: 23px;
}

.counterbox {
    display: flex;
    position: relative;
    top: 1px;
    border: solid 1px #4c4240;
    border-radius: 3px;
    width: 84px;
    margin: auto;
    padding: 2px;
}
.inputbox {
    background-color: white;
    border: solid 1px #fffbed;
    border-radius: 3px;
    width: 30px;
    height: 17px;
    color: #4c4240;
    font-size: 15px;
    text-align: center;
}
.plus, .minus {
    background-color: #fffbed;
    border: solid 1px #4c4240;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    color: #4c4240;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-left: 2px;
}
.plus:hover, .minus:hover {
    cursor: pointer;
    background-color: #4c4240;
    color: #fffbed;
}
.plus:active, .minus:active {
    position: relative;
    margin: 1px 0px -1px 2px;
}
h2, .infotable td {
    font-family: 'Noto Sans KR', sans-serif;
}
h4 {
    margin: 5px;
}

.formbox {
    box-sizing: border-box;
    border: solid 1px #4c4240;
    border-radius: 10px;
    width: 530px;
    margin: auto;
    padding: 15px;
}
.imgbox {
    width: 500px;
    height: 170px;
    overflow: hidden;
    margin-bottom: -2px;
}
.imgbox img {
    width: 500px;
}
.tablebox {
    box-sizing: border-box;
    border-bottom: solid 2px #4c4240;
    width: 500px;
    text-align: center;
    line-height: 25px;
    padding: 10px;
}
table {
    width: 470px;
    margin: auto;
}
.infotable {
    text-align: left;
    padding-bottom: 20px;
}
.headrow {
    background: #4c4240;
    color:beige;
}
tr {
    line-height: 30px;
}
.label {
    width: 150px;
}
input.info {
    border: 1px solid #a79f9e;
    height: 24px;
    width: 310px;
}
.red_msg {
    font-size: 12px;
    margin: -5px 0 5px;
}

.reasonbox {
    box-sizing: border-box;
    display: flex;
    border-bottom: solid 2px #4c4240;
    font-family: 'Noto Sans KR', sans-serif;
    width: 500px;
    padding: 20px 15px;
}
.buttonbox {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    width: 500px;
    padding-top: 15px;
}

/* 교환반품신청페이지 */
#formbox-refexch {
    width: 640px;
}
.refexch {
    width: 610px;
}
.refexch table {
    width: 590px;
}
#imgbox-refexch {
    width: 350px;
    height: 250px;
    overflow: hidden;
    margin-right: 20px;
}
#imgbox-refexch img {
    height: 250px;
}
#board-area-flexible {
    height: fit-content;
    padding-bottom: 50px;
}
