.container-mypage {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin: auto;
    padding: 15px;
}
.board-area {
    color: #4c4240;
    background-color: #fffbed;
    border-radius: 10px;
    width: 1135px;
    margin: 0 15px;
}
.board-area .pagename {
    margin-left: 44px;
}
.board-area .tablename {
    margin-left: 44px;
}
.container-mypage a {
    color: #4c4240;
}
.button-area {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid orange;
    width: 50px;
}
.buttons {
    text-align: center;
    font-size: 15px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: #fffbed;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    color: #fffbed; 
    padding: 10.5px 11px;
    background-color: #4c4240;
    display:block;
}

/* .menu_simple ul li a:visited {
    color: #fffbed;
} */    

#currpage {
    background-color: #fffbed;
    color: #4c4240;
    font-weight: 700;
}
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: #fffbed;
    background-color: #ff9946;
}



.tablebox {
    box-sizing: border-box;
    border: 1px solid #4c4240;
    border-radius: 10px;
    width: 1040px;
    margin: auto;
    padding: 7px;
}
table {
    width: 1020px;
    text-align: center;
    margin: auto;
}
tr {
    height: 30px;
}
.headrow {
    background: #4c4240;
    color:#fffbed;
}


.leftside {
    margin-left: 44px;
}
.order-info {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 25px;
}
.delivery-info {
    font-size: 13px;
    line-height: 13px;
    margin-left: 15px;
}
.infobox {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
}
.deliveryinfobox {
    border-top: 2px solid #4c4240;
    border-bottom: 2px solid #4c4240;
    width: 1040px;
    margin: auto;
    margin-bottom: 20px;
}
.btnbox {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    height: 30px;
    margin: auto;
    margin-bottom: 30px;
}
.boldtext {
    font-weight: 700;
}
h3 {
    margin: 10px 0 5px;
}
#board-area-flexible {
    height: fit-content;
    padding-bottom: 10px;
}