/* 밝은 버전 바탕 */

body {
    background: #dfdad5;
}
a {
    color: #203b23;
}
.ft {
    margin-top: 0px;
}

.hd {
    color: #203b23;
    border-bottom: 1px solid #203b23;
}

hr {
    background:#203b23;
    height:1px;
    border:0;
}

.mypg {
    padding: 15px 0px;
    font-size: 23px;
}


.container-mypage {
    color: #203b23;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto!important;
    margin: auto;
 
}
.board-area {
    width: 80%;
 }

.board-area .pagename {
    margin-left: 44px;
}
.board-area .tablename {
    margin-left: 0!important;
}
.container-mypage a {
    color: #203b23;
}
.button-area {
    display: flex;
    place-content: space-between;
    width: 91%;
    justify-content: space-between;
    margin: auto;
    margin-top: -27px;

}

.buttons {
    padding: 0;
    cursor: pointer;
}

.buttons span {
    font-size: 44px;
font-variation-settings:'wght' 200;
}



/* 메뉴 */

.menu_simple {
    width: 20%;
    font-size: 20px;
    border-right: 1px solid #203b23;
}


.menu_simple ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    padding: 12px 30px;
    display:block;
    transition: all .2s;
}

.menu_simple ul li a:hover {
color: #618064;
}


#currpage {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px
}

.menu_simple ul li a:hover, .menu_simple ul li .current {
}
td span {
    width: 120px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* 주문 상세 페이지 */ 

.tablename {
    border-bottom: 1px solid;
    padding: 21px 42px;
    font-size: 21px;
    margin: 0!important;
}

.opContain_01 {
    width: 100%;
}

.items {
    border-bottom: 1px solid #3d3f23;
 }

.tablename {
    font-size: 24px;
    margin: 25px 0px;
}

.opimg {
    width: 95px;
    border-right: 1px solid #203b23;
    padding: 32px 56px;
}

.opimg img {
    width: 100%;
}

.opItemBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opItem {
    display: flex;
    width: 77%;
 }

 .opItemInfoText {
    font-size: 17px;
    width: 500px;
    padding: 57px 51px;
}
.opamt {
    font-size: 14px;
    margin-top: 26px;
}

.opstn {
    font-size: 13px;
    margin-bottom: 3px;
}

.optt_text {
    font-size: 20px;
}
.infobox {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    height: 30px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 72px;
}

.opTitle_status {
    width: 115px;
}

.rt_text {
    font-size: 14px;
    margin-top: 26px;
}

.infotext {
    padding: 29px 68px;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px solid #203b23;

}

.infobox_02 {
    padding: 46px 64px;
    margin-top: 46px;
    width: 1050px;
    margin: auto;
}

.infotext_03 {
    font-size: 24px;
    margin-bottom: 21px;
}

.empitem {
 padding: 44px;
    text-align: center;
    font-size: 19px;
    border-bottom: 1px solid #000;
 }

.infotext span {
    margin-right: 11px;
}



 /* 버튼 */

 .btnbox_01 {
  display: flex;
    justify-content: center;
    margin: 52px 49px;
}

.listbtn01, .clsbtn01 {
    background: #203b23;
    color: #dfdad5;
    padding: 11px 17px;
    transition: all .2s;
    cursor: pointer;
}
.listbtn01 {
    margin-right: 20px;
}
.listbtn01:hover, .clsbtn01:hover {
    background: #4b644e;
}