.container-fav {
    box-sizing: border-box;
    display: flex;
    justify-content:flex-start;
    align-content: space-evenly;
    flex-wrap: wrap;
    background-color: none;
    width: 100%;
    padding: 13px 0 13px 27px;

}
.favstore {
    display: inline-block;
    text-align: center;
    border: 1px solid #4d6b50;
    border-radius: 10px;
    width: 400px;
    height: 280px;
    margin: 14px 70px;
}
.favbook {
    display: inline-block;
    text-align: center;
    border: 1px solid #4d6b50;
    border-radius: 10px;
    width: 250px;
    height: 280px;
    margin: 14px 22px 15px 0;
}
img {
    height: 280px;
}