.datebox {
    width: 1020px;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    padding-bottom: 10px;
    margin-top: -25px;
}
table {
    width: 1020px;
    text-align: center;
    margin: auto;
}
.tablebox {
    box-sizing: border-box;
    border: 1px solid #4c4240;
    border-radius: 10px;
    max-height: 495px;
    width: 1040px;
    margin: auto;
    padding: 10px;
}
tr {
    height: 40px;
}
.td-linked:hover {
    cursor: pointer;
    color: #ff9946;
    font-weight: 600;
}
.headrow {
    background: #4c4240;
    color:beige;
}

.searchbox {
    text-align: right;
    box-sizing: border-box;
    text-align: right;
    width: 1040px;
    padding: 5px;
    margin: auto;
    margin-top: -27px;
    margin-bottom: 5px;
}
.pagebox {
    box-sizing: border-box;
    text-align: center;
    width: 1040px;
    padding: 5px;
    margin: auto;
    margin-top: 12px;
}
.btnbox {
    display: flex;
    flex-direction: row-reverse;
    width: 1020px;
    margin: auto;
    margin-top: -45px;
    padding: 15px;
}

.rej_reason {
    text-align: right;
    font-size: 14px;
}
.pno {
    display: inline-block;
    border-top: 1px solid #4c4240;
    border-bottom: 1px solid #4c4240;
    background-color: #4c4240;
    width: 25px;
    height: 22px;
    margin: 1px;
}
.container-mypage a {
    color: #fffbed;
}
.pno:hover {
    background-color: #fffbed;
    color: #4c4240;
}
.curr-pno {
    display: inline-block;
    border-top: 1px solid #4c4240;
    border-bottom: 1px solid #4c4240;
    color: #4c4240;
    width: 25px;
    height: 22px;
    margin: 1px;
}