.container-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.container-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* border: 1px solid orange; */
    width: 530px;
    margin-top: 25px;
}
.container-3 {
    box-sizing: border-box;
    width: 530px;
    padding: 0 15px;
}
.container-4 {
    box-sizing: border-box;
    display: flex;
    width: 520px;
    margin: auto;
}
table {
    border-spacing: 2px;
    width: 100%;
    font-size: 14.5px;
    text-align: center;
    margin-top: -5px;
}
th {
    height: 26px;
    background-color: #f0eee2;
}
td {
    height: 24px;
}
.cards {
    border: 1px solid #4c4240;
    border-radius: 10px;
}
.card-main {
    border-radius: 0;
    border-top: 1px solid #4c4240;
    border-left: none;
    border-bottom: 1px solid #4c4240;
    border-right: none;
    height: 297px;
    padding: 5px 0;
    margin-bottom: 15px;
}
.card-top {
    height: 171px;
    margin-bottom: 15px;
}
.card-bottom {
    height: 228px;
}
.card-button {
    height: 45px;
    border-radius: 2px;
    font-family: 'Noto Sans KR', sans-serif;
    background: #4c4240;
    color: #fffbed;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}
.card-button:hover {
    cursor: pointer;
    border: 2px solid #ff9946;
    background: #ff9946;
    color:#fffbed;
}
h3 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #4c4240;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
}
h3 a:hover {
    color: #ff9946;
    font-weight: 600;
}
td a:hover {
    color: #ff9946;
    font-weight: 600;
}

h4 {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 7px 0 7px;
}
.labelbox {
    display: flex;
    justify-content: space-between;
}
.more-btn {
    height: 25px;
    margin-top: 15px;
}
.store_img {
    border: 1px dotted #4c4240;
    width: 300px;
    height: 205px;
    margin: 0 5px 0 22px;
}
.book_img {
    border: 1px dotted #4c4240;
    text-align: center;
    width: 170px;
    height: 205px;
    margin: 0 5px 0 10px;
}
.book_img a img {
    height: 205px;
}
td span {
    padding-left: 0;
}