.container-mypage {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 650px;
    margin: auto;
    padding: 15px;
}
.board-area {
    color: #4c4240;
    background-color: #fffbed;
    border-radius: 10px;
    width: 1135px;
    margin: 0 15px;
}
.board-area .pagename {
    margin-left: 44px;
}
.board-area .tablename {
    margin-left: 44px;
}
.container-mypage a {
    color: #4c4240;
}
.button-area {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid orange;
    width: 50px;
}
.buttons {
    text-align: center;
    font-size: 15px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: #fffbed;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    color: #fffbed; 
    padding: 10.5px 11px;
    background-color: #4c4240;
    display:block;
}

/* .menu_simple ul li a:visited {
    color: #fffbed;
} */    

#currpage {
    background-color: #fffbed;
    color: #4c4240;
    font-weight: 700;
}
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: #fffbed;
    background-color: #ff9946;
}