.bookListContainer {
  width: 1300px;
  height: auto;
  margin: auto;
  padding: 20px;
}
  
  .bk_tt {
    font-size: 30px;
    font-weight: bold;
    width: 1220px;
    margin: auto;
    color: #FFF;
    margin-bottom: 19px;
  }

   .bk_tt p {
    color: #FFF;
    font-size: 20px;
   }
  
  .bk_list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .bk_item {
    width: calc(100% / 4);
    height: calc(964px / 3);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100px;
}

  .pagination a {
    border: 1px solid #ddd;
    margin: 8px 16px;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
  }
  

  /* 카테고리  */

  .cateContain {
    display: flex;
    padding: 22px 23px;
  }

  .medium-category {
    position: relative;
    margin: 18px 16px;
    width: 100px;
    
  }
  
  .small-categories {
    position: absolute;
    top: 33px;
    left: 0; 
    display: none; 
    line-height: 32px;
    background: #FFF;
    padding: 10px;
  }