.bookListContainer {
  width: 1300px;
  height: 1050px;
  margin: auto;
  padding: 20px;
}
  
  .bk_tt {
    font-size: 30px;
    font-weight: bold;
    width: 1220px;
    margin: auto;
    color: #FFF;
    margin-bottom: 19px;
  }
  
  .bk_list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .bk_item {
    width: calc(100% / 5);
    height: calc(964px / 3);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100px;
}

  .pagination a {
    border: 1px solid #ddd;
    margin: 8px 16px;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
  }
  