body {
  background: #dfdad5;
}

a {
  color: #203b23;
}

.hd {
  color: #203b23;
  border-bottom: 1px solid #203b23;
}


.bookListContainer {
  font-family: 'BookkGothic-Bd';
  width: 1400px;
  height: auto;
  margin: auto;
  padding: 20px;
}
  
  .bk_tt {
    font-weight: bold;
    width: 1190px;
    margin: auto;
    color: #203b23;
    margin-bottom: 0px;
  }

   .bk_tt p {
    color: #203b23;
    font-size: 16px;
   }
  
  .bk_list {
    display: flex;
    flex-wrap: wrap;
    color: #203b23;
  }
  
  .bk_item {
    width: calc(100% / 4);
    height: calc(1300px / 3);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100px;
}

  .pagination a {
    margin: 8px 3px;
    padding: 6px 11px;
    text-decoration: none;
    color: #203b23;
    font-size: 14px;
  }

  .pagination .active  {
    color: #dfdad5;
    font-weight: bold;
    background: #203b23;
    border-radius: 50%;
  }




  /* 카테고리  */
/* 선택된 중분류 스타일 */
 
 .selected {
background: #203b23;
  }

  .selected-link {
        color: #dfdad5!important;
  }

  .cateContain {
    display: flex;
    margin-left: 45px;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 1200px;
}

  .medium-category {
    position: relative;
    margin: 18px 11px;
    width: auto;
    padding: 6px 19px;
    border-radius: 31px;
    color: #203b23;
    border: 1px solid #203b23;
  }
  
  .small-categories {
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    line-height: 35px;
    background: #203b23;
    padding: 10px;
    width: 117px;
    border-radius: 5px;
  }
  
  .medium-category a {
    color: #203b23;
  }

   .small-categories a {
    color: #d5d5d5;
  }

  /* 도서 아이템 리스트 */

 .catetext {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 26px;
    color: #203b23;
    margin: 26px 0;
}
.catetext h4 {
  margin: 0;
}

  .bkimgbox {
  
    padding: 15px;
    /* background: #f5f5f5; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 17px;
}

.bk_item_text {
  line-height: 27px;
  font-size: 14px;
text-align: center;
}



/* 검색 결과 */

p.result_tt {
  font-size: 23px;
}


.no-results {
  color: rgb(32, 59, 35);
  font-size: 21px;
  text-align: center;
  height: 300px;
  margin: 0 auto;
  margin-top: 227px;
  font-weight: bold;
  }

  p.randomemoji {
    font-size: 118px;
    margin: 0;
    color: #728b74;
}



/* 상태 관련 텍스트 */

.statusText {
  display: flex;
  position: relative;
  top: 0;
  align-items: flex-start;
  pointer-events: none;

}

.statusText_2 {
  position: absolute;
  width: 24px;
  top: -137px;
  left: 14px;
  padding: 2px 4px;
  background: #000;
  color: #FFF;
  font-size: 12px;
  pointer-events: none;
}

.statusText_3 {
  position: absolute;
  width: 47px;
  top: -113px;
  left: 14px;
  padding: 2px 4px;
  background: #4a754e;
  color: #FFF;
  font-size: 12px;
}