/* body */
 

a {
    color: #dfdad5;
    text-decoration-line: none;

}

@font-face {
    font-family: 'BookkGothic-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkGothic-Bd.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

body, header, footer {
 }

header, footer {
    font-family: 'Montserrat', sans-serif;
}

 
body {
    background-color: #293630;
    margin: 0px;
    min-height: 100%;
	position: relative;
 }


 
/* header */


#login-logout-button-login {
    margin-left: 15px;
cursor: pointer;
}

#small-menu {
    display: none;
    font-family: 'BookkGothic-Bd';
    width: 115px;
    height: 132px;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    right: 71px;
    top: 57px;
    padding: 18px;
    border: 1px solid #36593a;
    text-align: left;
}

p.smallmenuId {
    margin: 7px 0;
    margin-top: 0px;
    font-weight: bold;
    color: #4c4240;
}
.smMenuList{
    line-height: 28px;
}
.smMenuList a {
    color: #4c4240;
}

.hd {
    padding: 43px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 15px;
    color: #dfdad5;
    border-bottom: 1px solid #203b23;
}

.hd_01 {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.hd_02 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 28px;
    margin-left: -14px;
}

.logo_btn {
    border: 0;
    background-color: transparent;
}

.login_bell {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.login_bell a {
    margin-right: 20px;    
}

.noti_btn {
    cursor: pointer;
    display: flex;
    align-items: center;
}


#login-logout-button {
    margin-left: 15px;
    cursor: pointer;
}

.menu_01 {    
}

.menu_01 a{
    margin-right: 14px;    
}


.menu_02 {
    display: flex;
    align-items: center;
}

.menu_02 a{
    margin-left: 15px;    
}


/* footer */


footer {
    width: 100%;
    height: 70px;

    width: 100%;
    height: 0;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
     -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: auto;
    box-sizing: border-box;

}

.ft {
    margin-top: 44px;
    margin-bottom: 0;
    padding: 43px;
    padding-bottom: 0px;
    padding-top: 15px;
    height: 30px;
    color: #203b23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #203b23;
}

.sns_link {
    line-height: 26px;
}


 


/* main */

.main {
    height: 100%;
    position: relative;
    font-family: 'BookkGothic-Bd';

}


/* 메인 사진 */

.maintt {
    position: absolute;
    z-index: 1;
    color: #FFF;
    font-size: 45px;
    font-weight: bold;
}



.maintt {
     white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    animation: blink .5s step-end infinite alternate;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
 

/* main - search */

form#mapSearchForm {
    width: 100%;
}

form#searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.scbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
 }

 

 .scbox_bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(/images/main_001.jpg);
     background-size: cover;
    background-position: center;
   }
 
.scbox_bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    z-index: 0;
}


.scbox_01 {
    width: 497px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #FFF;
    z-index: 1;
    margin-top: 12%;
}

.scstore {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    font-family: 'BookkGothic-Bd';
     font-size: 25px;
    text-align: center;
    padding: 13px;
    border: 0px;
    background: none;
    color: #dfdad5;
    margin-top: -10px;
}

input:focus {outline: none;}
input.scstore::placeholder {color:#FFF;}

#scboxicon {
    font-size: 45px;
    color: #FFF;
    padding: 14px;
}

/* book store list */

.bnb_list {
    height: auto;
    width: 1400px;
    margin: auto;
    padding: 25px;
    color: #dfdad5;
    margin-top: 50px;
}

.list_tt {
    display: flex;
    justify-content: space-between;
    margin: 31px 10px;
    line-height: 11px;
    font-size: 18px;
}


/* menu */

.bk_sc {
    cursor: pointer;
}


/* modal */

.sc_md {
    width: 100%;
    height: 100vh;
    background: #ffffffeb;
    position: fixed;
    z-index: 999;
}

.scmd_input_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input.scbook {
    font-family: 'BookkGothic-Bd';
font-weight: bold;    
    font-size: 37px;
    padding: 18px;
    border: none;
    background: none;
    color: #203b23;

}
input.scbook::placeholder {color:#4a584b;}

.scmd_input_box span{
    font-size: 42px;
    margin-right: 10px;
    color: #203b23;
}


.sc_md {
    display: none;
}
.scip_box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #203b23;
}


.sc_cls {
    position: absolute;
    right: 0;
    padding: 48px;
}

.sc_cls span {
    font-size: 56px;
    cursor: pointer;
    color: #203b23;
}

 

/* 메인 독립서점 부분 */

.bstext01 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: 'BookkGothic-Bd';
  }