/* body */
 

a {
    color: #FFF;
    text-decoration-line: none;

}

@font-face {
    font-family: 'BookkGothic-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkGothic-Bd.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

body, header, footer {
 }

header, footer {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #4d6b50;
    margin: 0px;
    min-height: 100%;
	position: relative;
 }


 
/* header */


.hd {
    padding: 43px;
    padding-top: 25px;
    color: #FFF;
}

.hd_01 {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.hd_02 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 21px;
    font-size: 20px;

}

.logo {
    font-weight: bold;
    font-size: 30px;
}

.logo_btn {
    border: 0;
    background-color: transparent;
}

.login_bell {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.login_bell a {
    margin-right: 20px;    
}

.noti_btn {
    cursor: pointer;
}


.menu_01 {    
}

.menu_01 a{
    margin-right: 20px;    
}


.menu_02 {
    display: flex;
    align-items: center;
}

.menu_02 a{
    margin-left: 15px;    
}


/* footer */


footer {
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.ft {
    margin-top: 50px;
    padding: 43px;
    padding-bottom: 4px;
    padding-top: 18px;
    height: 80px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sns_link {
    line-height: 26px;
}


 


/* main */

.main {
    height: 100%;
    position: relative;
    font-family: 'BookkGothic-Bd';

}

/* main - search */

form#mapSearchForm {
    width: 100%;
}

form#searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.scbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
     margin: auto;
      filter: grayscale(1);
 }

 
 .scbox_bg {
    width: 100%;
    height: 800px;
    position: absolute;
    background-image: url(/images/main_001.jpg);
     background-size: cover;
    background-position: center;
   }
 
.scbox_01 {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
     background: #000;
     z-index: 1;
}

.scstore {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    font-family: 'BookkGothic-Bd';
     font-size: 25px;
    text-align: center;
    padding: 13px;
    border: 0px;
    background: none;
    color: #FFF;
    margin-top: -10px;
}

input:focus {outline: none;}
input.scstore::placeholder {color:#FFF;}

#scboxicon {
    font-size: 45px;
    color: #FFF;
    padding: 14px;
}

/* book store list */

.bnb_list {
    height: auto;
    width: 1230px;
     margin: auto;
    padding: 25px;
    color: #FFF;
    margin-top: 50px;
}

.list_tt {
    display: flex;
    justify-content: space-between;
    margin: 31px 10px;
    line-height: 11px;
    font-size: 18px;
}


/* menu */

.bk_sc {
    cursor: pointer;
}


/* modal */

.sc_md {
    width: 100%;
    height: 100vh;
    background: #ffffffeb;
    position: fixed;
    z-index: 999;
}

.scmd_input_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input.scbook {
    font-family: 'BookkGothic-Bd';
font-weight: bold;    
    font-size: 37px;
    padding: 18px;
    border: none;
    background: none;

}
input.scbook::placeholder {color:#000000;}

.scmd_input_box span{
    font-size: 42px;
    margin-right: 10px;
}


.sc_md {
    display: none;
}
.scip_box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
}


.sc_cls {
    position: absolute;
    right: 0;
    padding: 48px;
}

.sc_cls span {
    font-size: 56px;
    cursor: pointer;
}

 