body {
    overflow-x: hidden;
    overflow-y: hidden;
}


.hd {
    padding-bottom: 26px;

}


.maplist {
    overflow-y: scroll;
    height: 100%;
    max-height: 670px;
}

.mapContainer {
    width: 100%;
    overflow: hidden; /* float를 사용할 때 필요한 설정 */
  }

  .mapSearchBox {
    float: left;
    width: 25%; /* 혹은 원하는 비율 */
    height: 100vh; /* 혹은 원하는 높이 */
    background-color: #ffffff; /* 배경색을 원하는 대로 설정 */
    z-index: 2;
    position: relative;
  }

  
input.map_sc {
    width: 500px;
    margin: auto;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid #4d6b50;
}

.map_sc {
    display: block;
}

.ms_sc {
    padding-top: 30px;
}
 
.map_rs {
    margin: 19px 49px;
}
 

.mapscstore {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    font-family: 'BookkGothic-Bd';
     font-size: 25px;
    text-align: center;
    padding: 13px;
    border: 0px;
    background: none;
    color: #000;
    margin-top: -10px;
}

.bs_itempf {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #a7a7a7;
}

.bs_itempf img {
    object-fit: cover;
    width: 100%;
}


#gmp-map  {
 width: 100%;
  height: 100%;
}

.mapbox {
    float: left;
    width: 75%; 
    height: 100vh; 
    background-color: #ffffff;
  }



/* 서점 상세 정보 모달 */
 
.storeImgBox {
    width: 511px;
    height: 457px;
    overflow: hidden;
    background-color: #a7a7a7;
    position: relative;
    left: -37px;
    top: -38px;
}
img#storeImg {
    width: 100%;
}

#storeDetailModal  {
    background: rgb(255, 255, 255);
    width: 450px;
    padding: 35px;
    position: absolute;
    display: none;
    z-index: 1;
    height: 100%;
    overflow: scroll;
    transition: transform .5s ease-out;
    transform: translateX(-40%);
}



.cls_btn {
    position: absolute;
    width: 88%;
    display: flex;
    justify-content: end;
    z-index: 1;
}

span.material-symbols-outlined.close-button {
    font-size: 39px;
    filter: contrast(0);
}