body {
    overflow-x: hidden;
    overflow-y: hidden;
}


.hd {
    padding-bottom: 20px;
}


.maplist {
    overflow-y: scroll;
    height: 100%;
    max-height: 711px;
}

.mapContainer {
    font-family: 'BookkGothic-Bd';
    width: 100%;
    overflow: hidden; /* float를 사용할 때 필요한 설정 */
  }

  .mapSearchBox {
    float: left;
    width: 25%; /* 혹은 원하는 비율 */
    height: 100vh; /* 혹은 원하는 높이 */
    background-color: #dfdad5; /* 배경색을 원하는 대로 설정 */
    z-index: 2;
    position: relative;
  }

  

  
/* 검색창 */

form#mapSearchForm {
    border-bottom: 1px solid #36593a;

}

input.map_sc {
    width: 500px;
    margin: auto;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid #4d6b50;
}

.map_sc {
    display: block;
}

.ms_sc {
    padding: 13px 0;
}
 
.map_rs {
    margin: 40px 34px;
    color: #203b23;
}
 


.mapscstore {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    font-family: 'BookkGothic-Bd';
     font-size: 25px;
    text-align: center;
    padding: 13px;
    border: 0px;
    background: none;
    color: #203b23;
}

.bs_itempf {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: #a7a7a7;
    border-radius: 50%;
}

.bs_itempf img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


#gmp-map  {
 width: 100%;
  height: 100%;
}

.mapbox {
    float: left;
    width: 75%; 
    height: 100vh; 
    background-color: #ffffff;
  }



/* 서점 상세 정보 모달 */
 

.imgef {
    background: linear-gradient( to top, #dfdad5 50%, #ffffff00 91%);
    z-index: 1;
    position: absolute;
    width: 520px;
    height: 225px;
    margin: -33px;
    margin-top: 254px;
}

.bsinfotext {
    position: relative;
    margin-top: -139px;
    z-index: 1;
    color: #203b23;
}

.bs_infottbox {
    width: 240px;
    margin: auto;
    color: #203b23;
}

.bs_iteminfo {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 7px;
}

h1#storeName {
    margin: 9px 0;
    font-weight: bold;
    font-size: 40px;
}
.bs_item {
    margin: 24px 0;
    display: flex;
    padding: 16px;
    cursor: pointer;
    transition: all .3s;
}

.bs_item:hover
 {
    background: #00000014;
}

.storeImgBox {
    width: 511px;
    height: 457px;
    overflow: hidden;
    background-color: #a7a7a7;
    position: relative;
    left: -37px;
    top: -38px;
}
img#storeImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#storeDetailModal  {
    background:#dfdad5!important;
    width: 450px;
    padding: 35px;
    position: absolute;
    display: none;
    z-index: 1;
    height: 100%;
    overflow: scroll;
    transition: transform .5s ease-out;
    transform: translateX(-40%);
}

.cls_btn {
    position: absolute;
    z-index: 1;
    right: 18px;
    top: 11px;
    color: #FFF;
    cursor: pointer;
}

span.material-symbols-outlined.close-button {
    font-size: 54px;
    font-variation-settings: 'FILL' 0, 'wght' 100,'GRAD' 0,'opsz' 48;
}



/* 페이지네이션 */

#pagination {
    position: absolute;
    z-index: 2;
    font-size: 15px;
    color: #203b23;
    bottom: 98px;
    width: 100%;
    text-align: center;
}

#pagination a {
    color: #203b23;
    padding: 10px;
}


.num {
    background: #36593a;
    padding: 2px 8px;
    color: #dfdad5;
    border-radius: 50%;
    text-align: center;
}


/* 즐겨찾기 */

.favoriteButton {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    margin-left: -35px;
    top: -19px;
}

#favtrue {
    font-size: 100px;
    opacity: 1;
    color: #ff7200;
    transition: all .8s;
    font-variation-settings: 'FILL' 1, 'wght' 100,'GRAD' 0,'opsz' 48;
}


#favfalse {
    font-size: 100px;
    opacity: 0.5;
    color: #ff9d43;
    transition: all .8s;
    font-variation-settings: 'FILL' 1, 'wght' 100,'GRAD' 0,'opsz' 48;
}


#favtrue:hover {
    color: #ffb980;
}
#favfalse:hover {
    color: #ffb980;
    opacity: 1;
}
 