
/* notifications */


.noti_ng, .noti_ngout {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
} 


.new_dot {
    color: #ff9946;
    font-size: 1px;
    position: absolute;
    top: 23px;
    right: 35px;
  }
 
.noti_tt p {  
    margin: 6px;
    font-size: 19px;
    font-weight: bold;
} 

.noti_md{
    display: none;
    font-family: 'BookkGothic-Bd';
    width: 360px;
    height: 600px;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 99;
    right: 41px;
    top: 68px;
    padding: 29px;
    overflow: scroll;
    border: 1px solid #000;

}

.noti_item {
    padding: 20px 10px 31px 10px;
    border-bottom: 1px solid;
    transition: all .5s;
}

.noti_item:hover {
    background: #eaeaea;
}

.noti_md a {
    color: #000;
    width: 100%;
    height: 100%;
    display: block;
}
.noti_date {
    float: right;
    font-size: 12px;
    color: #606060;
    font-weight: bold;
    margin: 0;
  }