
/* notifications */


.noti_ng, .noti_ngout {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
} 


.new_dot {
    color: #ff9946;
    font-size: 1px;
    position: absolute;
    top: 13px;
    right: 36px;
  }
 
.noti_tt p {  
    margin: 27px;
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: bold;
} 

.noti_md{
    display: none;
    font-family: 'BookkGothic-Bd';
    width: 360px;
    height: 600px;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 99;
    right: 41px;
    top: 57px;
    padding: 0;
    overflow: scroll;
    border: 1px solid #000;

}

.noti_item {
    padding: 20px 24px 31px 24px;
    border-bottom: 1px solid;
    transition: all .5s;
}

.noti_item:hover {
    background: #eaeaea;
}

.noti_md a {
    color: #000;
    width: 100%;
    height: 100%;
    display: block;
}
.noti_date {
    float: right;
    font-size: 12px;
    color: #898989;
    font-weight: bold;
    margin: 0px 0;
    padding: 5px 0;
  }