.wrapper {
    margin-top: 40px;
}
h1 {
    border-bottom: 1px solid #36593a;
}
h1, h3 {
    box-sizing: border-box;
    background-color: rgb(150, 150, 150);
    width: 900px;
    margin: auto;
    padding: 10px;
}
.cart_area {
    background-color: rgb(150, 150, 150);
    width: 900px;
    margin: auto;
}
table {
    background-color: white;
    width: 880px;
    margin: auto;
    text-align: center;
    padding: 5px;
}
tr {
    height: 35px;
}
.cart {
    height: 40px;
}
.head_row {
    background-color: rgb(220, 220, 220);
}
.qty_input {
    width: 35px;
}
.td_gray {
    color: rgb(175, 175, 175);
}
.soldout {
    color: rgb(255, 60, 0);
    font-size: 13px;
}
.last_row {
    background-color: rgb(220, 220, 220);
    height: 30px;
}
.detail_link {
    cursor: pointer;
}
.detail_link:hover {
    text-decoration: underline;
    position: relative;
    bottom: 1px;
}

.orderinfo_area {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 150, 150);
    width: 900px;
    line-height: 25px;
    margin: auto;
    padding: 20px 20px;
}
#delivery_info {
    font-size: 15px;
    margin-top: 5px;
}
#payment_info {
    line-height: 25px;
}
hr {
    margin: 5px 0;
}
.label {
    display: inline-block;
    width: 100px;
    padding-left: 5px;
}
.money {
    display: inline-block;
    min-width: 85px;
    text-align: right;
    padding-right: 5px;
}
.button_area {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 150, 150);
    width: 900px;
    margin: auto;
    padding: 20px 10px;
}
#success {
    background-color: rgb(150, 150, 150);
    width: 900px;
    height: 400px;
    font-size: xx-large;
    text-align: center;
    line-height: 400px;
    border-bottom: 1px solid #36593a;
    margin: auto;
}