
/* main - search */

form#searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.scbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
     margin: auto;
      filter: grayscale(1);
 }

 
 .scbox_bg {
    width: 100%;
    height: 800px;
    position: absolute;
    background-image: url(/images/main_001.jpg);
     background-size: cover;
    background-position: center;
   }
 

.scbox_01 {
    display: flex;
    justify-content: center;
    align-items: center;
     background: #000;
     z-index: 1;
}


.scbox_02 {
    width: 500px;
}

.scstore {
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    font-family: 'BookkGothic-Bd';
     font-size: 25px;
    text-align: center;
    padding: 13px;
    border: 0px;
    background: none;
    color: #FFF;
    margin-top: -10px;
}

input:focus {outline: none;}
input.scstore::placeholder {color:#FFF;}


#scboxicon {
    font-size: 45px;
    color: #FFF;
    padding: 14px;

}

/* search result page */

.scrt_tt {
    font-size: 28px;
    color: #FFF;
    margin: 23px 0;
}

span.scrt_kw {
    font-weight: bold;
}

.result_list {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.rl_box {
    border: 1px solid #00f8ff;
    height: 800px;
}