 
.slider {
    position: relative;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
 }

.itemlist {
    position: relative;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.slide-container, .slide-container_02, 
.itemlist-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
}

/* 이미지 컨테이너 */



.slide, .b_slide, .b_item {
    box-sizing: border-box;
    text-align: center;
 }

 .slide:nth-child(even), .b_slide:nth-child(even),
 .b_item:nth-child(even) {
    margin: 0 20px; /* 더 큰 간격을 주기 위해 수정 가능 */
}

.b_slide p, .b_item p {
    text-align: left;
    margin: 5px;
}

.slide p {
    text-align: center;
    margin: 5px;
}


/* 슬라이드 버튼 */

.prntbtn  {
    width: 1400px;
    position: absolute;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 이미지 스타일 */
.bs_infott {
    margin-top: 24px;
}
.slide img {
    max-width: 290px;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover; /* 이미지 비율 유지하며 컨테이너에 맞게 조정 */
    border-radius: 50%;
}

.b_slide img, .b_item img {
    max-width: 290px;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover; /* 이미지 비율 유지하며 컨테이너에 맞게 조정 */
    border-radius: 5px;
}
 
/* prev, next button */

#prev-btn, #next-btn,
#prev-btn_02, #next-btn_02 {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding: 8px 8px;
    cursor: pointer;
    font-size: 34px;
    background: #FFF;
    border-radius: 50%;
    color: #000;
}


#prev-btn,
#prev-btn_02 {
    left: 10px;
}
#next-btn,
#next-btn_02 {
    right: 10px;
}
