

.slider-container {
    width: 1000px; /* 변경된 부분 */
    overflow: hidden;
    margin: 0 auto; /* 가운데 정렬을 위해 추가 */
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide-group {
    display: flex;
    flex-wrap: nowrap;
    width: 200%; /* 변경된 부분 */
    overflow: hidden;
  }
  
  .slide {
    flex: 0 0 25%; /* 변경된 부분 */
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    max-width: 300px; /* 변경된 부분 */
    margin: auto; /* 변경된 부분 */
  }
  
  .slide.active {
    transform: scale(1); /* 변경된 부분 */
    z-index: 1; /* 변경된 부분 */
  }
  
  .slide img {
    width: 300px; /* 변경된 부분 */
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  
  .navigation {
    text-align: center;
    margin-top: 10px;
  }
  
  .navigation button {
    padding: 5px 10px;
    margin: 0 5px;
  }