 
 .slider01 {
    position: relative;
    max-width: 1228px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    position: relative;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
 }



.itemlist {
    position: relative;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.slide-container, .slide-container_02, 
.itemlist-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
}

/* 이미지 컨테이너 */



.slide, .b_slide, .b_item {
    box-sizing: border-box;
    text-align: center;
 }

 .slide:nth-child(even), .b_slide:nth-child(even),
 .b_item:nth-child(even) {
    margin: 0 20px; /* 더 큰 간격을 주기 위해 수정 가능 */
}

.b_slide p, .b_item p {
    text-align: left;
    color: #fff;
   margin: 0px;
}

.slide p {
    text-align: center;
    margin: 5px;
}


/* 슬라이드 버튼 */

.prntbtn  {
    width: 1400px;
    position: absolute;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 이미지 스타일 */
.bs_infott {
    margin-top: 24px;
}
.slide img {
    max-width: 290px;
    aspect-ratio: 1/1;
    height: 290px;
    object-fit: cover; /* 이미지 비율 유지하며 컨테이너에 맞게 조정 */
    border-radius: 50%;
}

.b_slide img, .b_item img {
    max-width: 290px;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover; /* 이미지 비율 유지하며 컨테이너에 맞게 조정 */
    border-radius: 5px;
}
 
/* prev, next button */

#prev-btn, #next-btn,
#prev-btn_02, #next-btn_02 {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding: 8px 8px;
    cursor: pointer;
    font-size: 34px;
    background: #FFF;
    border-radius: 50%;
    color: #000;
}


#prev-btn,
#prev-btn_02 {
    left: 10px;
}
#next-btn,
#next-btn_02 {
    right: 10px;
}

.b_box {
    position: relative;
    width: 290px;
    height: 290px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.b_box img {
    max-height: 290px;
    max-width: 240px;
    object-fit: contain;
}

.bkinfotext01 {
  
    height: 112px;
    margin: 10px 0;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.bkinfotext02 {
    height: 112px;
    margin: 13px 10px;
    line-height: 14px;
}


.itemlist-container03 {
    display: flex;
    flex-wrap: wrap; /* 이 부분을 추가하여 아이템이 다음 줄로 넘어갈 수 있게 함 */
    justify-content: space-between;
}

.b_item01 {
    flex: 1; /* 아이템의 크기를 동일하게 유지 */
    max-width: calc(25% - 20px); /* 4개의 아이템을 한 줄에 배치. 간격을 고려하여 20px을 빼줌 */
    margin-bottom: 20px; /* 아이템과 아이템 사이의 세로 간격 */
}

.b_box02 {
    position: relative;
    width: 290px;
    height: 290px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.b_box02 img {
    max-height: 230px;
    max-width: 240px;
    object-fit: contain;
}