

.bsContain {
    border: 1px solid #f00;
    height: 500px;
}

#bsSlider {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .bsSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .bsSlide.active {
    opacity: 1;
  }

 .bsSlide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  #prev {
    left: 10px;
  }
  
  #next {
    right: 10px;
  }
  