<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjcs.bnb.mappers.BookstoreMapper">

    <select id="getMemberInfo" resultType="com.cjcs.bnb.dto.MemberDto">
    SELECT sf.sf_sysname, s.s_storename, s.s_id, s.s_storedesc
    FROM seller_file sf
    JOIN seller s ON sf.sf_s_id = s.s_id
    </select>

    <select id="getAllImageList" resultType="com.cjcs.bnb.dto.MemberDto">
    SELECT sf.sf_sysname, s.s_storename, s.s_id, s.s_storedesc
    FROM seller_file sf
    JOIN seller s ON sf.sf_s_id = s.s_id 
    </select>
 
    <select id="countBooksBySeller" resultType="int">
    SELECT COUNT(*) FROM Book WHERE b_s_id = #{sellerId}
    </select>


    <select id="getBooksBySeller" resultType="com.cjcs.bnb.dto.BookDto">
        SELECT * FROM Book WHERE b_s_id = #{sellerId} AND ROWNUM BETWEEN #{start} AND #{end}
    </select>
    <select id="countTotalBooksBySeller" resultType="int">
        SELECT COUNT(*) FROM Book WHERE b_s_id = #{sellerId}
    </select>
    <select id="getSellerById" resultType="com.cjcs.bnb.dto.SellerDto">
        SELECT * FROM Seller WHERE s_id = #{sellerId}
    </select>
    <select id="getSellerFileById" resultType="com.cjcs.bnb.dto.SellerFileDto">
        SELECT * FROM Seller_File WHERE sf_s_id = #{sellerId}
    </select>



</mapper>