<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjcs.bnb.mappers.FavoriteMapper">
 
  <select id="isFavorite" resultType="int">
        SELECT state FROM favstore WHERE favs_c_id = #{userId} AND favs_s_id = #{storeId}
    </select>
    
    <insert id="addFavorite">
        INSERT INTO favstore (favs_c_id, favs_s_id, state) VALUES (#{userId}, #{storeId}, 1)
    </insert>
    
    <delete id="removeFavorite">
        DELETE FROM favstore WHERE favs_c_id = #{userId} AND favs_s_id = #{storeId}
    </delete>

    <update id="toggleFavorite">
        UPDATE favstore SET state = #{state} WHERE favs_c_id = #{userId} AND favs_s_id = #{storeId}
    </update>
 

</mapper>