<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjcs.bnb.mappers.FavoriteMapper">
 
  <select id="isFavorite" resultType="int">
        SELECT state FROM favstore WHERE favs_c_id = #{userId} AND favs_s_id = #{storeId}
    </select>
    
    <insert id="addFavorite">
        INSERT INTO favstore (favs_c_id, favs_s_id, state) VALUES (#{userId}, #{storeId}, 1)
    </insert>
    
    <delete id="removeFavorite">
        DELETE FROM favstore WHERE favs_c_id = #{userId} AND favs_s_id = #{storeId}
    </delete>

    <update id="toggleFavorite">
        UPDATE favstore SET state = #{state} WHERE favs_c_id = #{userId} AND favs_s_id = #{storeId}
    </update>
 


  <!-- 즐겨찾기 서점 이미지 -->
<select id="getSellerFileListByJoinedIds" parameterType="map" resultType="com.cjcs.bnb.dto.SellerFileDto">
 SELECT sf_sysname, sf_s_id FROM Seller_File WHERE sf_s_id IN (
      SELECT favs_s_id 
      FROM FavStore 
      WHERE favs_c_id = #{c_id}
  )
</select>

<select id="getLatestFavStoreImg" resultType="String">
SELECT sf_sysname FROM (
  SELECT sf_sysname, favs_date,
         ROW_NUMBER() OVER (ORDER BY favs_date DESC) as rnum
  FROM Seller_File sf
  JOIN FavStore fs ON sf.sf_s_id = fs.favs_s_id
  WHERE fs.favs_c_id = #{c_id}
)
WHERE rnum = 1
</select>


</mapper>