<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjcs.bnb.dao.MemberDao">

    <!-- 서점 검색 -->
<select id="searchBookstores" resultType="com.cjcs.bnb.dto.SellerDto">
     SELECT * FROM (
        SELECT S.*, SF.sf_sysname, ROW_NUMBER() OVER (ORDER BY S.s_id) AS rn
        FROM seller S 
        LEFT JOIN seller_file SF ON S.s_id = SF.sf_s_id 
        JOIN member M ON S.s_id = M.m_id
        WHERE UPPER(S.s_storename) LIKE UPPER('%' || #{keyword} || '%')
        OR UPPER(M.m_addr) LIKE UPPER('%' || #{keyword} || '%')
    ) 
    WHERE rn BETWEEN #{startIdx} AND #{startIdx} + #{limit} - 1
</select>

    <!-- 서점 검색결과 카운트 -->
<select id="countBookstores" resultType="int">
    SELECT COUNT(*) 
    FROM seller S
    JOIN member M ON S.s_id = M.m_id
    WHERE UPPER(S.s_storename) LIKE UPPER('%' || #{keyword} || '%')
    OR UPPER(M.m_addr) LIKE UPPER('%' || #{keyword} || '%')
</select>

 <select id="getAllBookstores" resultType="com.cjcs.bnb.dto.SellerDto">
    SELECT * FROM SELLER
</select>
 

</mapper>
