body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #4d6b50;
    color: #fff;
    padding: 10px;
    height: 125px;
    width: 100%;
    text-align: center;
    top: 100%;
  }
 
  
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .login-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  