body {
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: #4d6b50;
  color: #fff;
  padding: 20px;
  height: 125px;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
}

.books-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.book {
  width: 250px;
  height: 350px;
  perspective: 800px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.book:hover {
  transform: scale(1.05);
}

.cover {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.page1,
.page2 {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transform-origin: right center;
  backface-visibility: hidden;
}

.page1 a,
.page2 a {
  font-size: 1.5em;
  color: #333;
  text-decoration: none;
}

.content {
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: #4d6b50;
}