body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f5f7fa;
  font-family: 'Noto Sans', sans-serif;
}

.header {
  background-color: #4d6b50;
  color: #fff;
  padding: 10px;
  height: 125px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.signup-container {
  text-align: center;
  max-width: 450px;
  width: 100%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
.form-control {
  margin: 10px 0;
  padding: 12px 15px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cfd4db;
  transition: border 0.2s;
  background: transparent;  /* 추가 */
}

input:focus,
.form-control:focus {
  border-color: #007BFF;
  outline: none;
}

input[type="date"] {
  padding: 8px 12px;
}

.button,
.btn {
  background-color: #506c7f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.button:active,
.btn:active {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

.button:hover,
.btn:hover {
  background-color: #3f5870;
}

.signup-button {
  margin-top: 20px;
}

p {
  margin-top: 20px;
}

a {
  color: #506c7f;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #3f5870;
}

.form-group {
  margin-bottom: 0px;
}

.address-group {
  display: flex;
  align-items: center;
}

.postcode-btn {
  margin-left: 10px;
  padding: 12px 15px;
}

.form-control {
  flex: 1;
  margin-right: 55px;
}

input, .form-control {
  margin: 10px 0;
  padding: 12px 15px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #cfd4db;
  transition: border-color 0.3s, background-color 0.3s;
  background: #f9f9f9;  /* 약간의 배경색 추가 */
  font-size: 16px;      /* 폰트 크기 조정 */
}

input:hover, .form-control:hover {
  background: #f6f6f6;  /* Hover 시 약간 더 어두운 배경색 */
}

input:focus, .form-control:focus {
  border-color: #007BFF;
  background: #f6f6f6;  /* Focus 시 배경색 유지 */
  outline: none; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);  /* 그림자 효과 추가 */
}

.button, .btn {
  /* ... 기존의 스타일 ... */
  font-weight: 600;   /* 가중치 조정 */
}

a {
  /* ... 기존의 스타일 ... */
  font-weight: 600;   /* 가중치 조정 */
}