body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f7fa;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: #4d6b50;
  color: #fff;
  padding: 20px 0;
  height: 125px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.login-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: auto;
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #6B7280;
  color: #fff;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #4B5563;
}

.h2 {
  margin-bottom: 15px;
  font-weight: bold;
}

.login-container a {
  color: #6B7280;
  text-decoration: none;
  font-size: 14px;
  margin: 0 5px;
  transition: color 0.2s ease-in-out;
}

.login-container a:hover {
  color: #4B5563;
}

#kr {
  margin-top: 20px;
  font-size: 16px;
}

.nav-link {
  padding-right: 15px; 
  border-right: 1px solid #000; 
  margin-right: 15px; 
  text-decoration: none; 
  color: #000; /
}
.nav-link.last {
  border-right: none; 
}